<a href="https://colab.research.google.com/github/HengamehSM/Cpp-HackerRank/blob/master/Machine_Learning_in_Python_with_Sci_Kit_Learn_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Machine Learning in Python with Sci-Kit Learn and Pandas

**Girls Code Chess Workshop**

![alt text](https://pbs.twimg.com/profile_images/1249406946500845568/T4BS31lE_400x400.png)

# **Linear Support Vector Machine**

Multiple Decision Boundaries
![alt text](https://s3.amazonaws.com/stackabuse/media/implementing-svm-kernel-svm-python-scikit-learn-1.jpg)

Decision Boundary with Support Vectors
![alt text](https://s3.amazonaws.com/stackabuse/media/implementing-svm-kernel-svm-python-scikit-learn-2.jpg)

Importing the necessary packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Reading in the data

In [3]:
bankdata = pd.read_csv("https://raw.githubusercontent.com/girlscodechess/Machine-Learning-in-Python-with-Sci-Kit-Learn-and-Pandas/master/bill_authentication.csv")

What does the data look like?

In [4]:
bankdata.shape

(1372, 5)

In [6]:
bankdata.head()

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

Splitting the data into variables used to predict the labels and the labels we are trying to predict

In [7]:
X = bankdata.drop('Class', axis=1)
y = bankdata['Class']

In [8]:
X.head()

   Variance  Skewness  Curtosis  Entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [9]:
X.head(2)

   Variance  Skewness  Curtosis  Entropy
0    3.6216    8.6661   -2.8073 -0.44699
1    4.5459    8.1674   -2.4586 -1.46210

In [10]:
X.head(-2)

      Variance  Skewness  Curtosis  Entropy
0      3.62160    8.6661  -2.80730 -0.44699
1      4.54590    8.1674  -2.45860 -1.46210
2      3.86600   -2.6383   1.92420  0.10645
3      3.45660    9.5228  -4.01120 -3.59440
4      0.32924   -4.4552   4.57180 -0.98880
...        ...       ...       ...      ...
1365  -4.50460   -5.8126  10.88670 -0.52846
1366  -2.41000    3.7433  -0.40215 -1.29530
1367   0.40614    1.3492  -1.45010 -0.55949
1368  -1.38870   -4.8773   6.47740  0.34179
1369  -3.75030  -13.4586  17.59320 -2.77710

[1370 rows x 4 columns]

In [12]:
X.tail()

      Variance  Skewness  Curtosis  Entropy
1367   0.40614   1.34920   -1.4501 -0.55949
1368  -1.38870  -4.87730    6.4774  0.34179
1369  -3.75030 -13.45860   17.5932 -2.77710
1370  -3.56370  -8.38270   12.3930 -1.28230
1371  -2.54190  -0.65804    2.6842  1.19520

In [15]:
y.shape

(1372,)

Splitting data into training and testing sets

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

Importing the classifier

In [17]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='linear')
svclassifier.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

Predict the labels!

In [18]:
y_pred = svclassifier.predict(X_test)

In [20]:
print(y_pred)

[0 0 0 0 1 1 0 0 1 1 0 0 1 1 1 1 1 1 1 1 0 0 1 0 0 0 0 0 1 1 0 1 0 0 1 0 0
 0 1 0 1 0 0 1 1 1 0 0 1 1 1 1 1 0 1 1 0 0 1 1 0 0 1 0 0 1 0 1 0 1 1 0 1 0
 1 0 1 1 0 0 0 0 1 1 0 1 0 1 1 1 1 0 0 0 1 0 0 0 0 1 0 1 0 0 1 1 1 0 0 0 0
 0 0 1 1 0 0 0 1 1 1 0 1 1 0 0 0 1 1 0 1 1 0 1 1 1 0 1 1 0 1 1 0 0 0 0 0 1
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 1 0 0 0 0 1 1 0 1 1 0 0 1 0 1 1
 1 0 1 0 1 1 0 0 0 1 0 0 1 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 1 1 1 0 1 0 0 1 0
 0 0 0 1 1 0 1 1 0 0 1 1 1 1 1 0 1 0 0 0 1 1 0 1 0 1 0 0 0 1 0 0 0 1 0 0 0
 0 0 0 1 1 1 1 1 0 0 1 0 1 0 1 0]

In [21]:
print(y_test)

169     0
756     0
431     0
153     0
777     1
       ..
138     0
1202    1
1345    1
1111    1
235     0
Name: Class, Length: 275, dtype: int64

How well did the algorithm classify the data?

In [22]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.98      0.97      0.98       154
           1       0.97      0.98      0.97       121

    accuracy                           0.97       275
   macro avg       0.97      0.97      0.97       275
weighted avg       0.97      0.97      0.97       275

# **Kernel Support Vector Machines**

Non-Linearly Seperable Data
![alt text](https://s3.amazonaws.com/stackabuse/media/implementing-svm-kernel-svm-python-scikit-learn-3.jpg)

Import the necessary packages

In [23]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Get the data

In [24]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

# Assign colum names to the dataset
colnames = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'Class']

# Read dataset to pandas dataframe
irisdata = pd.read_csv(url, names=colnames)

In [25]:
irisdata.head()

   sepal-length  sepal-width  petal-length  petal-width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Splitting the data into variables used to predict the labels and the labels we are trying to predict

In [26]:
X = irisdata.drop('Class', axis=1)
y = irisdata['Class']

In [29]:
X.head()

   sepal-length  sepal-width  petal-length  petal-width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [30]:
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Class, dtype: object

Splitting data into training and testing sets

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

Importing the **polynomial** classifier

In [33]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='poly', degree=8)
svclassifier.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=8, gamma='scale', kernel='poly',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

Predict the labels!

In [34]:
y_pred = svclassifier.predict(X_test)

In [37]:
print(y_pred)

['Iris-virginica' 'Iris-virginica' 'Iris-versicolor' 'Iris-virginica'
 'Iris-virginica' 'Iris-setosa' 'Iris-setosa' 'Iris-versicolor'
 'Iris-setosa' 'Iris-versicolor' 'Iris-setosa' 'Iris-virginica'
 'Iris-virginica' 'Iris-virginica' 'Iris-setosa' 'Iris-setosa'
 'Iris-virginica' 'Iris-setosa' 'Iris-virginica' 'Iris-versicolor'
 'Iris-virginica' 'Iris-virginica' 'Iris-setosa' 'Iris-versicolor'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-virginica' 'Iris-virginica'
 'Iris-setosa' 'Iris-versicolor']

In [38]:
print(y_test)

136     Iris-virginica
125     Iris-virginica
133     Iris-virginica
113     Iris-virginica
100     Iris-virginica
41         Iris-setosa
37         Iris-setosa
69     Iris-versicolor
4          Iris-setosa
75     Iris-versicolor
18         Iris-setosa
132     Iris-virginica
147     Iris-virginica
76     Iris-versicolor
11         Iris-setosa
33         Iris-setosa
122     Iris-virginica
44         Iris-setosa
141     Iris-virginica
119     Iris-virginica
102     Iris-virginica
137     Iris-virginica
48         Iris-setosa
62     Iris-versicolor
50     Iris-versicolor
98     Iris-versicolor
149     Iris-virginica
111     Iris-virginica
40         Iris-setosa
72     Iris-versicolor
Name: Class, dtype: object

How well did the algorithm classify the data?

In [39]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test, y_pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00         9
Iris-versicolor       0.75      0.86      0.80         7
 Iris-virginica       0.92      0.86      0.89        14

       accuracy                           0.90        30
      macro avg       0.89      0.90      0.90        30
   weighted avg       0.91      0.90      0.90        30

Importing the **Gaussian** classifier

In [40]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='rbf')
svclassifier.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

Predict the labels!

In [41]:
y_pred = svclassifier.predict(X_test)

How well did the algorithm classify the data?

In [42]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test, y_pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00         9
Iris-versicolor       0.78      1.00      0.88         7
 Iris-virginica       1.00      0.86      0.92        14

       accuracy                           0.93        30
      macro avg       0.93      0.95      0.93        30
   weighted avg       0.95      0.93      0.93        30

Importing the **Sigmoid** classifier

In [43]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='sigmoid')
svclassifier.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='sigmoid',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

Predict the labels!

In [44]:
y_pred = svclassifier.predict(X_test)

How well did the algorithm classify the data?

In [45]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test, y_pred))

                 precision    recall  f1-score   support

    Iris-setosa       0.00      0.00      0.00         9
Iris-versicolor       0.23      1.00      0.38         7
 Iris-virginica       0.00      0.00      0.00        14

       accuracy                           0.23        30
      macro avg       0.08      0.33      0.13        30
   weighted avg       0.05      0.23      0.09        30

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

# Compare Kernel Performance

Discuss:
1. Which kernel performed the best?
2. Which kernel performed the worst?
3. If I gave you a new dataset, would these same kernels perform the best/worst?

Source: Malik